{# app/Resources/views/general_user/dashboard.html.twig #}
{% extends 'general_user.html.twig' %}

{% block title %}User Dashboard{% endblock %}

{% block body %}
	<h2>Donations</h2>

	<div>
		<h3>Pending Donations</h3>
	</div>

	<div>
		<h3>Previous Donations</h3>
	</div>
{% endblock %}
