{% extends 'base.html.twig' %}



{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-success">
                <div class="panel-heading">Food Bank Wish List App</div>

                {% if app.user != null %}
                  <a href="/list" class="btn btn-info"> Thanks for logging in! Click here to enter Wish List App>></a>
                {% endif %}


            </div>

            {% if app.user == null %}
              <a href="/login" class="btn btn-info"> You need to login to enter the site! >></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}